%header
  %h2 Adding #{ job.title } candidate

.navbar
  = link_to "Back to Jobs", jobs_path, class: 'button secondary small'

.row
  .columns.medium-12
    = simple_form_for [job, candidate] do |f|
      = f.input :name
      = f.input :email

      .row
        .columns.medium-6
          = f.input :identity_type, as: :select,
                                    collection: Candidate.identity_types

        .columns.medium-6
          = f.input :identity_id

      = f.submit 'Save', class: 'button expand'
