.row
  .columns.medium-12
    = simple_form_for [job, candidate] do |f|
      = f.input :name
      = f.input :email

      .row
        .columns.medium-6
          = f.input :identity_type, as: :select,
                                    collection: Candidate.identity_types

        .columns.medium-6
          = f.input :identity_id

      .row
        .columns.medium-6
          = link_to 'Back', jobs_path()

        .columns.medium-6
          = f.submit 'Save', class: 'button'
